<div class="doc-top-nav">
    <div class="top-nav-header doc-nav-item">
        <a mat-flat-button color="primary" routerLink="/" class="doc-nav-item doc-nav-link">
            <i class="material-icons">wb_incandescent</i>
            Velicham Trust
        </a>
    </div>
    <div class="top-nav-body">
        <a mat-flat-button color="primary" routerLink="./adminhome" class="doc-nav-item doc-nav-link">Home</a>
       
        <a mat-flat-button color="primary" [matMenuTriggerFor]="fund" class="doc-nav-item doc-nav-link">
            <span>Fund</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </a>

        <mat-menu #fund="matMenu">
            <button routerLink="./raisefund" mat-menu-item>
                <mat-icon>local_atm</mat-icon>
                <span>Raise fund</span>
            </button>
            <button routerLink="./updatefund" mat-menu-item>
                <mat-icon>import_export</mat-icon>
                <span>Update fund</span>
            </button>
        </mat-menu>

        <a mat-flat-button color="primary" [matMenuTriggerFor]="donor" class="doc-nav-item doc-nav-link">
            <span>Donor</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </a>

        <mat-menu #donor="matMenu">
            <button routerLink="./listdonor" mat-menu-item>
                <mat-icon>format_list_bulleted</mat-icon>
                <span>List donor</span>
            </button>
            <button routerLink="./listfundeddonors" mat-menu-item>
                <mat-icon>format_list_bulleted</mat-icon>
                <span>List funded donor</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="grid" class="doc-nav-item doc-nav-link item-right">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
                <button (click) = 'logout()' mat-menu-item>
                    <mat-icon>flight_takeoff</mat-icon>
                    <span>Logout</span>
                </button>
        </mat-menu>
    </div>
</div>
<router-outlet></router-outlet>