<div class="row justify-content-center align-items-center">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/list.jpg" height="180px" alt="">
            <div class="card-body">
                <h4 class="card-title">List Donor</h4>
                <p class="card-text">In this feature you can see donor details</p>
                <button mat-raised-button color="primary" routerLink="../listdonor">Go To</button>
            </div>
        </div>
    </div>  
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/update.jpg" height="200px" alt="">
            <div class="card-body">
                <h4 class="card-title">Update Fund</h4>
                <p class="card-text">In this feature you can see fund details</p>
                <button mat-raised-button color="primary" routerLink="../updatefund">Go To</button>
            </div>
        </div>
    </div>  
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/donordetails.png" alt="">
            <div class="card-body">
                <h4 class="card-title">Raise Fund</h4>
                <p class="card-text">In this feature you can raise fund</p>
                <button mat-raised-button color="primary" routerLink="../raisefund">Go To</button>
            </div>
        </div>
    </div>  
</div>